<ion-header>
  <ion-toolbar>
    <ion-title>ChangePassword</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <form [formGroup]="passwordForm" (ngSubmit)="change_password()">
      <ion-item>
        <ion-label position='floating'>Old Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position='floating'>New Password</ion-label>
        <ion-input type="password" formControlName="new_password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position='floating'>Confirm New Password</ion-label>
        <ion-input type="password" formControlName="confirmPassword"></ion-input>
      </ion-item>
      <div padding>
        <ion-button type="submit" [disabled]="!passwordForm.valid">Change</ion-button>
      </div>
    </form>
  </ion-card>
</ion-content>
