<ion-header>
  <ion-toolbar>
    <ion-title>Overview</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
  
    <ion-tab-bar slot="bottom">
  
      <ion-tab-button tab="deployments">
        <ion-label>Deployments</ion-label>
        <ion-icon name="apps"></ion-icon>
      
      </ion-tab-button>
  
      <ion-tab-button tab="services">
        <ion-label>Services</ion-label>
        <ion-icon name="settings"></ion-icon>
      </ion-tab-button>
  
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
